<div class="m-3">
  <h2>
    <%= @chat.title %>
  </h2>
</div>
<div class="container">
  <div class="container">
    <% if @chat.messages === nil %>
      <p>
        You don't have any messages yet! Start chatting with mAiku to see some messages!
      </p>
    <% else %>
      <% @chat.messages.each do |message| %>
        <% if message.role == "user" %>
          <div class="d-flex justify-content-end mb-2">
            <div class="bg-white px-3 pt-2 rounded-4 chat-bubble-content shadow-sm">
              <%= raw(render_markdown(message.content)) %>
            </div>
          </div>
        <% elsif message.role == "assistant" %>
          <div class="d-flex justify-content-start mb-4">
            <div class="bg-light px-3 py-2 rounded-4 chat-bubble-content shadow-sm">
              <%= raw(render_markdown(message.content))%>
              <p>
                Symptoms: <em><%= @chat.symptom %></em>
              </p>
              <p>
                Drugs: TODO
              </p>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <div class="container sticky-bottom bg-light p-3">
    <%= simple_form_for [@chat, @message] do |f| %>
      <%= f.input :content, label: "Ask me something?", required: true, placeholder: "What is the best drug for me?" %>
      <%= f.button :submit, "Ask mAIku", class: "btn btn-secondary" %>
    <% end %>
  </div>
</div>
